<!Doctype HTML>
<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png"></link>
    <link rel="stylesheet" href="css/style.css"></link>
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <img src="img/Naveen.jpg"></img>
    </div>
{{>footer}}
</body>