<!Doctypy HTML>
<head>
    <title>Error</title>
    <link rel="icon" href="img/weather.png"></link>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        {{message}}
    </div>
    {{>footer}}
</body>